# data folders (content: customers' confidential data)
data/
data/exports/
data/processed/
data/raw/

src/ingestion/

# data/raw/ specific directories - 12 tables
data/raw/accounts.csv
data/raw/alert_rules.csv
data/raw/audit_logs.csv
data/raw/cards.csv
data/raw/customers.csv
data/raw/devices.csv
data/raw/fraud_alerts.csv
data/raw/fraud_analysis.csv
data/raw/login_history.csv
data/raw/merchants.csv
data/raw/transaction_legs.csv
data/raw/transactions.csv

# notebook - testing file
tests/notebook.ipynb

# env
.env